@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 6rem 0 6rem;
}

a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover{
    background-color: #fff;
    padding: 5px;
    color: #000;
}

nav ul li a:hover{
    color: #000;
    font-weight: bold;
}

.active{
    color: yellow;
    font-weight: bold;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.form{
    display: inline;
    float: left;
    width: 50vw ;
    margin: 50px;
    padding: 20px;
    margin-right: 0;
    margin-top: 100px;
}

#form-type-2{
    height: 30px;
    width: 40vw;
    margin: 10px ;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: yellow;
}

form{
    margin-top: 30px;
}

input{
    display: block;
    width: 40vw;
    margin: 5px;
    padding: 5px;
}

.hidden{
    display: none;
}

.btn{
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

.btn:hover{
    background-color: yellow;
    color: #000;
    font-weight: bold;
}

.download{
    background-color: rgb(8, 114, 25);
}

.download:hover{
    box-sizing: border-box;
    box-shadow: yellow;
    background-color: rgb(8, 114, 25);
    color: #fff;
}

.result{
    display: inline;
    float: left;
    width: 40vw ;
    margin: 50px;
    padding: 20px;
    margin-left: 0;
}
textarea{
    width: 25rem;
    height: 300px ;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 2rem;
}

@media only screen and (max-width: 1300px) {
    nav ul {
        position: absolute;
        left: 0;
        top: 70px;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .navbar{
        background-color: #fff ;
    }
}

@media only screen and (max-width: 1100px){
    .result{
        display: block;
        width: 80vw;
    }
    .res{
        width: 100% ;
    }
}